body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre{
    text-align: left;
    font-weight: bold;
}

table.mytable td {
    border: 1px solid black;
    width: 50px;
}

.container {
    width: 250px;
    height: 200px;
    border: 1px solid #720570;
}

.bar {
    fill: #720570;
}